*{
    margin: 0;
    padding: 0;
}

.backbone{
 display: flex;
 justify-content: center;
}

.container{
width: 1280px;
margin: 0;
}

.header{
    margin-top: 63px;
}
.headline{
    width: 334px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 79px;
display: flex;
align-items: flex-end;
text-align: center;
color: #4BCAFF;
text-decoration: none;

margin-bottom: 40px;
}

.headline_colored{
    color: #000000;
}

.top_menu{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
box-sizing: border-box;
background: #35444F;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.top_menu_link1{
    width: 266px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 24px 33px 18px 32px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.top_menu_link1:hover{
    background-color: #222F3A;
}

.top_menu_link2{
    width: 77px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 26px 38px 19px;
    border-left: 1px solid white;
}

.top_menu_link2:hover{
    background-color: #222F3A;

}

.top_menu_link3{
    width: 204px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 24px 40px 18px 40px;
    border-left: 1px solid white; 
}

.top_menu_link3:hover{
    background-color: #222F3A;
}

.top_menu_link4{
    width: 163px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 24px 18px 18px 40px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.top_menu_link4:hover{
    background-color: #222F3A;
}

.main_content{
margin-top: 49px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.aside{
    width: 344px;
    box-sizing: border-box;
}

.menu_left{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
display: flex;
flex-direction: column;
justify-content: flex-start;
border: 1px solid #000000;
}

.menu_left_link1{
    width: 106px;
    text-decoration: none;
    display: block;
    color: #485863;
    padding: 26px 191px 25px 44px;
}

.menu_left_link1:hover{
    background-color: #DBDBDB;
}

.menu_left_link2{
    width: 226px;
    text-decoration: none;
    display: block;
    color: #485863;
    padding: 27px 76px 27px 38px;
}

.menu_left_link2:hover{
    background-color: #DBDBDB;
}

.menu_left_link3{
    width: 220px;
    text-decoration: none;
    display: block;
    color: #485863;
    padding: 25px 79px 26px 42px;
}

.menu_left_link3:hover{
    background-color: #DBDBDB;
}

.menu_left_link4{
    width: 179px;
    text-decoration: none;
    display: block;
    color: #485863;
    padding: 26px 117px 26px 44px;
}

.menu_left_link4:hover{
    background-color: #DBDBDB;
}

.menu_left_link5{
    width: 153px;
    text-decoration: none;
    display: block;
    color: #485863;
    padding: 26px 144px 30px 44px;
}

.menu_left_link5:hover{
    background-color: #DBDBDB;
}

.content{
    width: 885px;
    display: flex;
    flex-direction: column;
    
}
.box_img{
    height: 529px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    overflow: hidden;
}

.img{
    width: 320px;
    height: 381px;
    transition: transform .2s ease-in-out;
}

.img:hover{
    transform: scale(1.1); 
}

.text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
display: flex;
align-items: center;
}

.ua{
    padding: 37px 0 34px;
}

.footer{
    box-sizing: border-box;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 54px 0 30px;
}

.copyright{
    width: 190px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
color: #010101;
padding-right: 40px;
}

.menu_bottom{
    width: 875px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
padding: 20px 135px 21px 40px;
}

.menu_bottom_link{
    text-decoration: none;
color: #0C1927; 
}

.menu_bottom_link:hover{
 text-decoration: underline;
 text-decoration-style: solid;
 color: #3181A6;
}


